doctype html
html (lang="en")
    head
        title="Allergy Asthma Associates"
        link(rel="stylesheet" href="waitingroom.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
    body 
        div(class="sections")
            div(class="banner")
                div(class="left-section")
                    img(class="logo" src="AAA.jpg")
                div(class="right-section")
                    div(class="top-right")
                        p(class="welcome")="Welcome to Allergy Asthma Associates"
                    div(class="bottom-right")
                        p(class="physician")="Nathan Tang, MD, FAAAAI"
            div(class="main")
                div(class="main-top")
                    p(class="main-text")="Please enter your name to sign in"
                div(class="main-mid")
                    form(action="/checkin")
                        input(class="namebox" placeholder="Full Name" id="name" name="name")
                        input(class="submit" type="submit")
            div(class="footer")
                div(class="footer-left")
                    p(class="hours")="Hours:"
                    p(class="hours-details")="Mon - Wed: 8:00 AM to 5:00 PM"
                    p(class="hours-details")="Thu - Fri: 1:00 PM to 5:00 PM"
                    p(class="hours-details")="(Closed between 12:00 PM to 1:00 PM)"
                div(class="footer-right")
                    p(class="phone")="Phone:"
                    p(class="phone-details")="(727) 825-0111"